:root{
    --color-azul-1:#e4f9f5;
    --color-azul-2:##30e3ca;
    --color-azul-3:#11999e;

    --color-azul-4: #112d4e;
    --color-roxo: #48466d;
    --color-roxo-3: #48466d80;
    --color-roxo-2: #3e3a8a;
    --color-cinza:#40514e;

    --color-preto: #212121;
}