@import url(./App.css);
.section-jogo{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-roxo);
    
}
.container-jogo{
    border: 4px solid white;
    /* filter: drop-shadow(5px 5px 0 black) ; */
    box-shadow: 7px 7px 0 black;
    position: relative;

}
img{
    width: 120px;

    transition: 0.2s linear;

    filter: drop-shadow(4px 4px 0 white) ;
          
}

.item-jogo{
    /* width: 600px; */
    background-color: var(--color-preto);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

}
.item-jogo > div{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}
.item-jogo > div img{
    width: 180px;

}
.item-jogo > div p{
    text-align: center;
}
.container-usuario{
    border-right: 2px solid white;
}
.container-computador{
    border-left: 2px solid white;

}
.box-pc{
    margin: 10px 0;
}
.box-pc img{
    width: 90px!important;
    height: 90px!important;
}
.box-pessoa{
    margin: 10px 0;
}
.box-pessoa img{
    width: 90px!important;
    height: 90px!important;    
}
.box-img{
    min-width: 180px;
    min-height: 190px;
}
.box-img img{
 
    width: 70px;
    

}
.container-jogadas img:hover{
    transform: scale(1.08);
}
/* .container-btn-reset{
    width: 100%;
} */
.container-btn-reset button{
    width: 100%;
    height: 50px;
    border: 2px solid white;
    cursor: pointer;

    color: var(--color-preto);

    transition: 0.2s linear;
}
.container-btn-reset button:hover{
    background-color: var(--color-preto);
    border: 2px solid var(--color-preto);
    border-bottom: 4px solid white;
    color: white;
}
.container-jogadas{
    display:flex;
    justify-content: space-around;
    background: var(--color-preto);
    border-bottom: 4px solid white ;

}
.container-jogadas .item-jogada img{
    cursor: pointer;
}
.box-pc img{
    width: 100px!important;
}
.item-contador{
    width: 100%;
    height: 50px;
    background: purple;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    
    user-select: none;

    border-bottom: 4px solid white ;
}
.item-contador p {
    /* border: 4px solid white;
    border-bottom: none;
    border-top: none; */
    padding: 0 10px;
}
.box-contador-valor{
    background-color: purple;
    color: white;
    padding: 5px 15px;

    user-select: none;
}
#box-contador-usuario{
    position: absolute;
    top: 50px;
    left: -35px;

}
#box-contador-computador{
    position: absolute;
    top : 50px;
    right: -35px;
}
#lucasmofardini{
    position: absolute;
    top: -30px;
    margin: 0 auto;
    background-color: black;
    color: white;

    user-select: none;
    
}
